---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="このサイトについて">
    <article>
    	<h1>このサイトについて</h1>
        <section>
    		<h1>プライバシーポリシー</h1>
    		<p>
    			このサービスではあなたの位置情報を取り扱います。 しかし、位置情報はあなたのブラウザのみに共有され、その他第三者に共有されることはありません。
    		</p>
            <p>
                また、このサイトの使いやすさ向上のためにGoogle Analyticsの導入しています。
				Google Analyticsを用いて、ユーザの属性や行動を収集することで、よりよいインタフェース、機能の開発に利用します。
				Google Analyticsではそれぞれのアクセスを匿名化した上で収集されます。
				Google Analyticsの問題があると感じる場合は、Adblockerの導入やブラウザの設定によりcookieを無効化することで回避できます。
				Google Analyticsに関しての詳細は<a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Google アナリティクス利用規約</a>や<a href="https://policies.google.com/technologies/partner-sites">Google ポリシーと規約</a>などをご確認ください。
            </p>
    	</section>
    	<section>
    		<h1>地図、自販機データの出典</h1>
    		<p>
    			地図データ、自動販売機データ共に<a href="https://openstreetmap.org">OpenStreetMap</a>を利用しています。
                OSMの提供するデータはODbLの下にライセンスされます。
                詳細は<a href="https://www.openstreetmap.org/copyright">こちら</a>をご覧ください。
    		</p>
    	</section>
    </article>
</Layout>